@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #02442b;
}

.AppHeader {
  height: 90px;
  display: flex;
  background-color: #02442b;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  font-family: 'Press Start 2P';
}



.AppBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: antiquewhite;
  padding-top: 50px;
  font-family: 'Press Start 2P';
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background: #f2f2f2;
}

.formField {
  margin: 10px 0 10px 0;
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'Press Start 2P';
}
.formButton {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'Press Start 2P';
  background-color: #04643f;
  color: antiquewhite;
}